<html>
  <body>
    <form action="/change_pass" method="post">
      <div>
        <label>Username:</label>
        <input type="text" name="user_name" />
        <br/>
      </div>
      <div>
        <label>Old Password:</label>
        <input type="password" name="old_pass" />
		<br/>
      </div>
	  <div>
        <label>New Password:</label>
        <input type="password" name="new_pass" />
      </div>
      <div>
        <input type="submit" value="Submit" />
      </div>
    </form>
  </body>
</html>