<html>
  <body>
    <form action="/create_reservation" method="post">
      <div>
        <label>Email:</label>
        <input type="text" name="email" />
        <br/>
      </div>
      <div>
        <label>Start Date:</label>
        <input type="text" name="startDate" />
		<br/>
      </div>
	  <div>
        <label>End Date:</label>
        <input type="text" name="endDate" />
      </div>
	  <div>
        <label>Car:</label>
        <input type="text" name="car" />
        <br/>
      </div>
      <div>
        <label>Distance:</label>
        <input type="text" name="distance" />
		<br/>
      </div>
	  <div>
        <label>Purpose:</label>
        <input type="text" name="purpose" />
      </div>
      <div>
        <input type="submit" value="Submit" />
      </div>
    </form>
  </body>
</html>